body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  color: #1f2937;
  background-color: white;
}

.top {
  background-color: #1f2937;
}

.random-information {
  background-color: white;
}

.inspiring-quote {
  background-color: #e5e7eb;
}

.cta-div {
  background-color: white;
}

.footer {
  background-color: #1f2937;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1f2937;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.top-title {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.top-text {
  color: white;
  font-size: 18px;
  font-weight: lighter;
}

.top-image img {
  width: 400px;
  height: 220px;
}

.top-cta-button button {
  background-color: #3882fc;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
}

.images-and-caption img {
  width: 140px;
  height: 140px;
  border: 2px solid red;
  border-radius: 8px;
}

.quote p {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

#quoter {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}

.cta-bar {
  margin-left: 120px;
  margin-right: 120px;
  background-color: #3882fc;
  border-radius: 5px;
}

#cta-main-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#cta-text {
  color: white;
  font-size: 12px;
  font-weight: normal;
}

.bottom-cta-button button {
  background-color: #3882fc;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  padding: 8px 20px;
  border-radius: 5px;
}

.footer p {
  color: white;
  font-weight: lighter;
}

.footer a {
  color: white;
  font-weight: bold;
  font-style: italic;
}
